<!DOCTYPE html>
<html>
    <head><title>Movie Recommender</title></head>

<body>
<div>
     <h1>Movie Recommendation</h1>
    <form action="{{ url_for('recommend')}}" method="post">
    <input type="text" name="Movie Name" placeholder="Movie Name" required="required"/>
    <br />
    <br />
    <button type="submit">recommend</button>
    </form>
    
    {% if len==0 %}
    <h5> Sorry! </h5>
    {% else %}
    <ul>
        {% for key in dat %}
        <li>{{ key }}</li>
        {% endfor%}
    </ul>
    {% endif%}
    </div>
</body>
</html>


